
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


.menu {
    width: 220px;
    margin: 40px;
    position: relative;
}


.burger {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}


.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #444;
    display: none;
    position: absolute;
    width: 100%;
}


.dropdown li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}


.dropdown li a:hover {
    background-color: #666;
}


.menu:hover .dropdown {
    display: block;
}
