
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


.img1 {
    background-image: url("https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?cs=srgb&dl=pexels-jaime-reimer-1376930-2662116.jpg&fm=jpg");
}


.img2 {
    background-image: url("https://media.istockphoto.com/id/944812540/photo/mountain-landscape-ponta-delgada-island-azores.jpg?s=612x612&w=0&k=20&c=mbS8X4gtJki3gGDjfC0sG3rsz7D0nls53a0b4OPXLnE=");
}


.text {
    color: white;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
}


.section {
    height: 300px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
