html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}


table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


td {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 5vw;              
    font-family: Arial, sans-serif;
}


.left {
    background-color: #ee0707;
}

.right {
    background-color: #ee0abd;
}
